.main-imgs-edit {
  h1 {
    font: var(--h3);
  }

  button {
    border: 2px outset var(--color-bg-light);
    background-color: var(--color-bg);
    padding: var(--spacing-2xs);
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    gap: var(--spacing-2xs);

    form {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2xs);
      align-items: flex-start;
      width: 100%;
      max-width: 512px;

      label {
        width: 100%;
      }

      textarea {
        width: 100%;
        padding: var(--spacing-2xs);
        background-color: var(--color-bg-light);
        resize: none;
        height: 6lh;
        border: 2px inset var(--color-bg-light);
      }
    }
  }

  img {
    border: 3px outset var(--color-bg-light);
    display: block;
    aspect-ratio: 1;
    width: 256px;
    object-fit: contain;
    image-rendering: pixelated;
  }
}