.main {
  ol {
    list-style: none;
  }

  article {
    max-width: var(--max-readable-width);
    width: calc(100vw - var(--spacing-3xs));
    border-right: 1px dotted var(--color-bg-dark);

    >hgroup {
      border-block: 1px dotted var(--color-bg-dark);
      padding-inline: var(--spacing-xs);

      address {
        display: inline;
        font-style: normal;
      }
    }

    >section {
      max-width: 100%;
      background-color: var(--color-bg-light);
      padding: var(--spacing-xs);

      >*+* {
        margin-top: var(--spacing-2xs);
      }

      figure {
        width: fit-content;

        &+figure {
          margin-top: 0;
        }
      }

      figcaption {
        border: 1px solid var(--color-bg);
        border-top: none;
        padding-inline: var(--spacing-2xs);
      }

      img {
        display: block;
      }

      code {
        background-color: var(--color-bg-dark);
        border: 1px dotted var(--color-bg);
        color: white;
        padding-inline: var(--spacing-3xs);
      }

      pre {
        color: white;

        &::before {
          content: "> " attr(data-lang);
          border: 1px dotted var(--color-bg);
          border-bottom: none;
          background-color: var(--color-bg-dark);
          padding-inline: var(--spacing-2xs);
          display: block;
          width: min-content;
        }

        code {
          display: block;
          max-width: 100%;
          overflow: scroll;
          padding-block: var(--spacing-3xs) var(--spacing-s);
          scrollbar-color: var(--color-bg) var(--color-bg-dark);
        }
      }

      table {
        border-collapse: separate;
        background-color: var(--color-text-muted);
        border-spacing: 1px;

        thead,
        tbody {
          background-color: var(--color-bg-light);
        }

        th,
        td {
          padding: var(--spacing-3xs);
        }
      }
    }
  }
}