.main {
  display: flex;

  @media (max-width: 700px) {
    flex-direction: column-reverse;
  }

  >img,
  >section {
    border: var(--border-main);
    padding: var(--spacing-2xs);
  }

  >section {
    max-width: 700px;

    >*+* {
      margin-block-start: 0.3em;
    }
  }

  li>img {
    width: 24px;
    height: 24px;
    margin-right: var(--spacing-2xs);
    alignment-baseline: central;
  }
}