.main {
  section {
    margin-top: var(--spacing-xs);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    a {
      position: relative;
    }

    a::after {
      content: attr(title);
      position: absolute;
      bottom: 3px;
      left: var(--spacing-2xs);
      font: var(--small);
      font-family: monospace, var(--font-f-heading);
      line-height: 1em;
      color: var(--color-text-muted);
      text-shadow: 1px 1px 0 var(--color-bg);
      background-color: oklch(from var(--color-bg) l c h / 0.5);
      max-width: calc(100% - 7px);
    }
  }

  img {
    border: 3px outset var(--color-bg-light);
    display: block;
    aspect-ratio: 4/3;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
  }
}