.header {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-2xs);
  border: var(--border-main);
  margin-bottom: var(--spacing-2xs);
  padding: var(--spacing-2xs);

  img {
    height: 30px;
    image-rendering: pixelated;
    display: block;
  }

  nav {
    display: flex;

    a {
      text-transform: uppercase;
      font-weight: var(--font-w-bold);
      letter-spacing: 2px;

      &[class*="active"] {
        border-style: inset;
      }
    }
  }
}

.footer {
  margin-top: auto;

  small {
    color: var(--color-text-muted);
    font-family: monospace, var(--font-f-heading);
  }
}