.header {
  display: flex;
  align-items: stretch;
  gap: var(--spacing-2xs);
  border: 3px outset var(--color-bg-light);
  margin-bottom: var(--spacing-2xs);
  padding: var(--spacing-2xs);

  img {
    height: 30px;
    image-rendering: pixelated;
    display: block;
  }

  nav {
    display: flex;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: var(--font-w-bold);
      letter-spacing: 2px;
      border: 2px outset var(--color-bg-light);
      padding: var(--spacing-2xs);

      &[class="active"] {
        border: 2px inset var(--color-bg-light);
      }
    }
  }
}

.footer {
  margin-top: auto;

  small {
    color: var(--color-text-muted);
    font-family: monospace, var(--font-f-heading);
  }
}