.main {
  display: flex;
  flex: 1;

  img {
    max-width: 100%;
    display: block;
  }

  form,
  aside {
    width: 100%;
    border: var(--border-main);
    padding: var(--spacing-2xs);
  }

  form {
    position: sticky;
    top: var(--spacing-2xs);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 90vh;
    gap: var(--spacing-2xs);

    label {
      width: 100%;
      display: flex;
      flex-direction: column;

      small {
        color: var(--color-text-muted);
      }
    }

    input,
    textarea {
      background-color: var(--color-bg-light);
      padding: var(--spacing-2xs);
      border: var(--border-secondary);
      border-style: inset;
    }

    label:has(textarea) {
      flex: 1;
    }

    textarea {
      resize: none;
      height: 100%;
    }

    ul {
      margin-top: var(--spacing-2xs);
      display: flex;
      flex-wrap: wrap;
      gap: 0 var(--spacing-2xs);

      li {
        font: var(--small);

        button {
          line-height: 0;
          aspect-ratio: 1;
          margin-left: var(--spacing-xs);
        }
      }
    }

    button {
      align-self: flex-start;
      text-transform: uppercase;
    }
  }
}

.dialog-image {
  margin-block: auto;
  max-height: 90%;
  border: var(--border-main);
  padding: var(--spacing-2xs);
  background-color: var(--color-bg);

  &::backdrop {
    background-image: radial-gradient(var(--color-bg-dark) 1px, transparent 0);
    background-size: 4px 4px;
  }

  >button {
    text-transform: uppercase;
  }

  li>button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    display: block;
    max-width: 128px;
    aspect-ratio: 2;
    background-color: var(--color-bg-dark);
    object-fit: contain;
    width: 100%;
  }
}