.main {
  >section {
    margin-top: var(--spacing-xs);
    border: var(--border-main);
    padding: var(--spacing-2xs);
    display: flex;
  }

  >ol {
    list-style: none;
  }

  >ol>li {
    border: var(--border-main);
    padding: var(--spacing-2xs);
    display: flex;
    flex-direction: column;

    span {
      display: block;
    }

    section {
      display: flex;
      align-items: flex-start;
      gap: var(--spacing-2xs);
    }

    article {
      margin-top: var(--spacing-2xs);
      background-color: var(--color-bg-light);
      border: 2px inset var(--color-bg);
      flex: 1;
    }
  }

  img {
    max-width: 100%;
  }
}

.main-tags-list {
  ol {
    margin-top: var(--spacing-xs);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}