.main {
  max-width: fit-content;

  >section {
    margin-top: var(--spacing-xs);
    border: var(--border-main);
    padding: var(--spacing-2xs);
    display: flex;
  }

  >ol {
    list-style: none;
    width: fit-content;
  }
}

.main-tags-list {
  ol {
    margin-top: var(--spacing-xs);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}

.message-entry {
  border: var(--border-main);
  padding: var(--spacing-2xs);
  max-width: calc(100vw - var(--spacing-xs));
  width: fit-content;

  >section {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2xs);

    span {
      display: block;
    }

    &+article {
      margin-top: var(--spacing-2xs);
    }
  }
}

.message-entry>article,
.message-content {
  max-width: 100%;
  width: var(--max-readable-width);
  background-color: var(--color-bg-light);
  border: 2px inset var(--color-bg);
  padding: var(--spacing-3xs);

  pre {
    background-color: var(--color-bg-dark);
    color: white;

    &::before {
      content: "> " attr(data-lang);
      display: block;
    }

    code {
      display: block;
      padding: var(--spacing-3xs);
      max-width: 100%;
      overflow: scroll;
      background-color: none;
      padding-block: var(--spacing-2xs) var(--spacing-s);
    }
  }

  code {
    background-color: var(--color-bg-dark);
    color: white;
    padding-inline: var(--spacing-3xs);
  }

  img {
    display: block;
    max-width: 100%;
  }

  table {
    border-collapse: separate;
    background-color: var(--color-text-muted);
    border-spacing: 1px;

    thead,
    tbody {
      background-color: var(--color-bg-light);
    }

    th,
    td {
      padding: var(--spacing-3xs);
    }
  }
}