html {
  --hue: 300;
  --color-bg-dark: oklch(0.50 0.02 var(--hue));
  --color-bg: oklch(0.75 0.02 var(--hue));
  --color-bg-light: oklch(0.90 0.02 var(--hue));

  --color-text: oklch(0.00 0.00 0);
  --color-text-muted: oklch(from var(--color-text) l c h / 0.8);

  --font-f-heading: Helvetica, sans-serif;
  --font-f-text: var(--font-f-heading);

  --font-s-h1: 2.00rem;
  --font-s-h2: 1.75rem;
  --font-s-h3: 1.50rem;
  --font-s-h4: 1.25rem;
  --font-s-p: 1.00rem;
  --font-s-small: 0.75rem;

  --font-w-thin: 100;
  --font-w-extralight: 200;
  --font-w-light: 300;
  --font-w-normal: 400;
  --font-w-medium: 500;
  --font-w-semibold: 600;
  --font-w-bold: 700;
  --font-w-extrabold: 800;
  --font-w-black: 900;

  --line-h-tight: 1.00em;
  --line-h-base: 1.25em;
  --line-h-loose: 1.50em;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.50rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1.00rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.50rem;
  --spacing-2xl: 1.75rem;
  --spacing-3xl: 2.50rem;
  --spacing-4xl: 3.75rem;
  --spacing-5xl: 6.25rem;
  --spacing-6xl: 10.00rem;
  --spacing-7xl: 15.00rem;

  --h1: var(--font-w-semibold) var(--font-s-h1)/var(--line-h-tight) var(--font-f-heading);
  --h2: var(--font-w-semibold) var(--font-s-h2)/var(--line-h-tight) var(--font-f-heading);
  --h3: var(--font-w-semibold) var(--font-s-h3)/var(--line-h-tight) var(--font-f-heading);
  --h4: var(--font-w-semibold) var(--font-s-h4)/var(--line-h-tight) var(--font-f-heading);
  --p: var(--font-w-normal) var(--font-s-p)/var(--line-h-base) var(--font-f-text);
  --small: var(--font-w-normal) var(--font-s-small)/var(--line-h-base) var(--font-f-text);

  background-color: var(--color-bg);
  color-scheme: light;
  scrollbar-gutter: stable;
  scrollbar-width: auto;
  font-family: var(--font-f-text);
  color: var(--color-text);

  &,
  * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    font: var(--h1);
  }

  h2 {
    font: var(--h2);
  }

  h3 {
    font: var(--h3);
  }

  h4,
  h5,
  h6 {
    font: var(--h4);
  }

  p {
    font: var(--p);
  }

  small {
    font: var(--small);
  }

  a {
    color: inherit;
    transition: color 0.1s;
    font-family: monospace, var(--font-f-heading);
  }

  ul,
  ol {
    list-style: square;
    list-style-position: inside;
  }

  details summary {
    cursor: pointer;
  }

  hr {
    height: 1px;
    max-width: 512px;
    background-color: var(--color-text);
    margin-block: var(--spacing-xs) var(--spacing-m);
    opacity: 0.2;
  }

  &:has(dialog:popover-open),
  &:has(dialog[open]) {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
  }

  &:has(dialog:popover-open) {
    pointer-events: none;
  }

  dialog:popover-open {
    pointer-events: auto;
    -webkit-user-select: text;
    user-select: text;
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

body {
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  padding: var(--spacing-2xs);

  --border-main: 3px outset var(--color-bg-light);
  --border-secondary: 2px outset var(--color-bg-light);
}

button,
.button {
  cursor: pointer;
  text-decoration: none;
  border: var(--border-secondary);
  background-color: var(--color-bg);
  padding: var(--spacing-2xs);
}

.dev {
  border: var(--border-secondary);
  border-color: red;
  border-style: dashed;
}